/* header page styles */
.header {
    padding-left: 10px;
    text-decoration: none;
    color: #ffffff;
  }

 




@media only screen and (max-width: 320px) {
    h1 {
        font-size: 25px;
        text-align: center;
    }
}