:root {
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #453A49;
  color: white;
}

#nav {
  cursor: pointer;
}

#nav li :hover {
  background-color: grey;
  border-radius: 6px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#about {
  text-align: center;
}

.about-me {
  align-items: wrap;
  padding-left: 10px;
}

.profile-picture {
  width: 250px;
  border-radius: 8px;
  height: 50%;
  padding-left: 10px;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}


.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}



.footer {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-evenly;
}

/* footer page */
.github-pic {
  width: 60px;
}

.github-pic:hover {
  opacity: 0.5;
}

.linkedin {
  width: 40px;
}

.linkedin:hover {
  opacity: 0.5;
}

.twitter {
  width: 40px;
}

.twitter:hover {
  opacity: 0.5;
}




.resume a {
  text-decoration: none;
  color: black;
}

/* portfolio page */

#portfolio h1 {
  text-align: center;
}

.allen-stone {
  height: 350px;
}

.alien {
  height: 350px;
}

.blog {
  height: 340px;
}

.notes {
  height: 350px;
}

.password {
  height: 340px;
}

.planning {
  height: 350px;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  background-color: grey;
  border-radius: 2px;
}

#overflow {
  overflow-wrap: break-word;
}

p {
  line-height: 20px;
}



/* contact page */
form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

textarea {
	width: 450px;
	height: 120px;
	border: 3px solid #cccccc;
  padding: 0.25rem;
  border-radius: 3px;
}

button {
	border: 0;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 5px 10px;	
}