:root {
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
  --primary: #808080;
  --secondary: #000000;
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary);
  color: #ffffff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* resume page styles */
.resume-header {
 text-align: center; 
}

.resume a {
  text-decoration: none;
  color: black;
}

.resume {
  padding-left: 10px;
}

.proficiencies h3 {
  padding-left: 10px; 
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

/* resume page styles end */


/* portfolio page */

#portfolio h1 {
  text-align: center;
}

.allen-stone {
  height: 350px;
}

.alien {
  height: 350px;
}

.blog {
  height: 340px;
}

.notes {
  height: 350px;
}

.password {
  height: 340px;
}

.planning {
  height: 350px;
}

.thoughts {
  height: 350px;
}

.album {
  height: 350px;
}

.container a {
  text-decoration: none;
  color: black;
}

.container a:hover {
  background-color: var(--primary);
  border-radius: 2px;
}

#overflow {
  overflow-wrap: break-word;
}

p {
  line-height: 25px;
}



/* contact page */
form {
  width: 40%;
}

 .name {
  margin: 10px;
}

.email {
  margin: 10px;
}

.message {
  margin: 10px;
}

#contact-me {
  text-align: center;
}

input {
  font-size: 1rem;
  padding: 5px;
  margin: 10px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

textarea {
	width: 450px;
	height: 120px;
	border: 3px solid #cccccc;
  padding: 0.25rem;
  border-radius: 3px;
  margin: 10px;
}

button {
	border: 0;
	border-radius: 8px;
	color: #000000;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
  padding: 5px 10px;	
  margin: 10px;
}

