/* nav styles */

#nav {
    cursor: pointer;
  }
  
  #nav li :hover {
    background-color: var(--primary);
    border-radius: 6px;
  }
  
  .navActive {
    background-color: var(--primary);
    color: var(--secondary);
    cursor: default;
    border-radius: 6px;
  }


.flex-row {
    display: flex;
    flex-wrap: wrap;
  }






@media only screen and (max-width: 320px) {
    nav {
        width: 100%;
    }

    #nav li{
        font-size: 15px;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 5px;
        float: left;
        list-style: none;
    }
}